!!! 5
%html
  %head
    %title
      Coding Star
    %script( src="javascripts/jquery-1.9.0.min.js" )
    %script( src="javascripts/popup.js" )
  %body( style="width: 46px;" )
    .user
      .name
    .url
    .status
    %img( class="clickable" src="images/icon128.png" width="46" height="46" style="cursor:pointer;" )
