!!! 5
%html
  %head
    %title
      Coding Star
    %script( src="javascripts/jquery-1.9.0.min.js" )
    %script( src="javascripts/popup.js" )
  %body( style="width: 300px;" )
    .user
      .name
    .url
    .status
    %button
      star
